<a href="/nuevo-grupo">Crear Grupo <i class="fas fa-users icono"></i></a>
<a href="/iniciar-sesion">Iniciar Sesion <i class="fas fa-sign-in-alt icono"></i></a>
<a href="/crear-cuenta">Registrate <i class="fas fa-user-plus icono"></i></a>
